body{
	border: solid 2px white;
	font-size: 14px;
	background-color:gray;
}

img{
	text-align: center;
	border-radius: 50%;
	size:50%;
}

.resize{
	width: 300px;
}



ul{
	font-size: 14px;
	font-family: helvetica, arial;
	color:pink;
}

